<table width="95%">
	<tr>
		<td width="50%">
			<div [ng2-highcharts]="donutChartData" class="graph"></div>
		</td>
		<td width="50%">
			<div [ng2-highcharts]="columnChartData" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td width="50%">
			<div [ng2-highcharts]="line1ChartData" class="graph"></div>
		</td>
		<td width="50%">
			<!--<div [ng2-highcharts]="line2ChartData" class="graph"></div>-->
			<div [ng2-highcharts]="labledDonutChartData" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td width="50%">
			<div [ng2-highcharts]="bubbleChartData" class="graph"></div>
		</td>
		<td width="50%">
			<div [ng2-highcharts]="semiDonutChartData" class="graph"></div>
		</td>
	</tr>
	<tr>
		<td width="50%">
			<div [ng2-highcharts]="stagedColumnChartData" class="graph"></div>
		</td>
		<td width="50%">
			<div [ng2-highcharts]="semiMultiDonutChartData" class="graph"></div>
		</td>
	</tr> 

</table>

<table width="95%">
	<tr>
		<td>
			<div [ng2-highcharts]="multiLineChartData" class="graph"></div>
		</td>
	</tr>
</table>